@font-face {
    font-family: 'GraphicPixel';
    src: url('http://cdn.mozilla.net/browserquest/fonts/graphicpixel-webfont.eot');
    src: url('http://cdn.mozilla.net/browserquest/fonts/graphicpixel-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.mozilla.net/browserquest/fonts/graphicpixel-webfont.woff') format('woff'),
         url('http://cdn.mozilla.net/browserquest/fonts/graphicpixel-webfont.ttf') format('truetype'),
         url('http://cdn.mozilla.net/browserquest/fonts/graphicpixel-webfont.svg#GraphicPixelRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#convo, #opts {
    height: 200px;
    width: 1000px;
    overflow: hidden;
    font-family: 'GraphicPixel';
    color: white;
    text-shadow: -2px 0 #373737, 0 2px #373737, 2px 0 #373737, 0 -2px #373737;
    font-size: 24px;
    background: black;
}

#opts div {
  margin: 10px;
}

.chat_option {
    font-family: 'GraphicPixel';
    color: yellow;
    text-shadow: -1px 0 #373737, 0 1px #373737, 1px 0 373737, 0 -1px 373737;
    cursor: default;
    display: block;
    font-size: 24px;
}

.chat_option:hover {
    color: white;
}

.convo_item {
    width: 1000px;
    height: 200px;
    clear: both;
    display: block;
}

.person, .person img {
    height: 200px;
    width: 200px;
    float: left;
    display: block;
}

.chat {
    padding: 40px;
    width: 720px;
    height: 120px;
    float: left;
    display: block;
}

/* Holla Holla get $ */

body, html {
  margin: 0;
  padding: 0
}

body {
  font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
  font-size: 16px;
  color: #363636;
  background: #D2D2D2;
  line-height: 1.2em;
}

h1, h2 {
  font-weight: bold;
  text-shadow: 0 1px 1px #FFFFFF;
}

h1 {
  font-size: 21pt;
  color: #404040;
}

h2 {
  font-size: 24pt;
  color: #404040;
  margin: 1em 0 0.7em 0;
}

 .main h2 {
  padding: 20px;
}

h3 {
  font-size: 15px;
  color: #404040;
  text-shadow: 0 1px 1px #FFFFFF;
}

#title {
  border-bottom: 1px solid #535353;
  overflow: hidden;
  height: 50px;
  line-height: 50px;

  background: #575859;
  background: -webkit-gradient(linear, left top, left bottom, from(#575859), to(#272425));
  background: -webkit-linear-gradient(top, #575859, #272425);
  background: -moz-linear-gradient(top, #575859, #272425);
  background: linear-gradient(top, #575859, #272425);
}

#title h1 {
  color: #FFFFFF;
  text-shadow: 0 1px 1px #000000;
  margin: 0 10px;
}

#content {
  overflow: hidden;

  /*
    The content div will cover the whole page,
    but leave enough room for the header.
  */
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;

  /* The children are horizontally aligned */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -webkit-box-pack: left;

  display: -moz-box;  
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  -moz-box-pack: left;
}

#content .sidebar {
  background: #EDEDED;
  width: 200px;

  /* It's got a fixed width, we don't want it to expand */
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}

#content .sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#content .sidebar ul li {
  display: block;
  padding: 10px 10px 7px 20px;
  border-bottom: 1px solid #CDCDCC;
  cursor: pointer;
  
  -moz-box-shadow: 0 1px 1px #FCFCFC;
  -webkit-box-shadow: 0 1px 1px #FCFCFC;
  box-shadow: 0 1px 1px #FCFCFC;
}

#content .sidebar ul li.active {
  color: #FFFFFF;
  text-shadow: 0 1px 1px #46677F;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;

  background: #7BB5DB;
  background: -webkit-gradient(linear, left top, left bottom, from(#7BB5DB), to(#4775B8));
  background -webkit-linear-gradient(top, #7BB5DB, #4775B8);
  background -moz-linear-gradient(top, #7BB5DB, #4775B8);
  background linear-gradient(top, #7BB5DB, #4775B8);
}

#content .main {
  -moz-box-shadow: inset 0 1px 3px #7F7F7F;
  -webkit-box-shadow: inset 0 1px 3px #7F7F7F;
  box-shadow: inset 0 1px 3px #7F7F7F;

  /* We want .main to expand as far as possible */
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

#content .sidebar h3 {
  padding: 7px 7px 7px 5px;
  display: block;
  border: 1px solid #c5c5c5;
  border-width: 1px 0 1px 0;
  margin: 10px 0 0 0;

  background: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DEDFE0));
  background -webkit-linear-gradient(top, #FFFFFF, #DEDFE0);
  background -moz-linear-gradient(top, #FFFFFF, #DEDFE0);
  background linear-gradient(top, #FFFFFF, #DEDFE0);

  -moz-box-shadow: inset 0 -5px 10px #E4E4E4;
  -webkit-box-shadow: inset 0 -5px 10px #E4E4E4;
  box-shadow: inset 0 -5px 10px #E4E4E4;
}

button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:3px 12px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
}button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}button:active {
  position:relative;
  top:1px;
}
